---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v2/organizations/11571530
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - Bearer dummy access token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Restli-Protocol-Version:
      - 1.0.0
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-ech2
      X-Li-Proto:
      - http/1.1
      X-Li-Route-Key:
      - '"b=VB96:g=1138:u=13:i=1524680043:t=1524753072:s=AQGbi6MJSYl1Bp8XxcavEx8jcDA-3ypy"'
      X-Li-Uuid:
      - p2sm4mvAKBVAiIZB8CoAAA==
    body:
      encoding: UTF-8
      string: '{"defaultLocale":{"country":"US","language":"en"},"vanityName":"del-nariz-social-media","alternativeNames":[],"localizedName":"del
        Nariz Social Media","specialties":[],"localizedSpecialties":[],"industries":[],"name":{"localized":{"en_US":"del
        Nariz Social Media"},"preferredLocale":{"country":"US","language":"en"}},"versionTag":"1","locations":[],"id":11571530,"$URN":"urn:li:organization:11571530"}'
  recorded_at: Wed, 25 Apr 2018 18:14:03 GMT
recorded_with: VCR 3.0.3
